In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("Suicide.csv")
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [5]:
df[df.year >= 2014]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
564,Antigua and Barbuda,2014,female,15-24 years,0,8537,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Millenials
565,Antigua and Barbuda,2014,female,25-34 years,0,7578,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Millenials
566,Antigua and Barbuda,2014,female,35-54 years,0,15273,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Generation X
567,Antigua and Barbuda,2014,female,5-14 years,0,8296,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Generation Z
568,Antigua and Barbuda,2014,female,55-74 years,0,6085,0.00,Antigua and Barbuda2014,0.783,"1,280,133,333",14093,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [6]:
df[df.year.between(2000,2010)]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,Albania2000,0.656,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,Albania2000,0.656,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,Albania2000,0.656,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,Albania2000,0.656,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [9]:
df[df.year.isin([2005,2010])]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
192,Albania,2005,female,15-24 years,0,281922,0.00,Albania2005,0.695,"8,158,548,717",2931,Millenials
193,Albania,2005,female,25-34 years,0,190745,0.00,Albania2005,0.695,"8,158,548,717",2931,Generation X
194,Albania,2005,female,35-54 years,0,386513,0.00,Albania2005,0.695,"8,158,548,717",2931,Boomers
195,Albania,2005,female,5-14 years,0,276559,0.00,Albania2005,0.695,"8,158,548,717",2931,Millenials
196,Albania,2005,female,55-74 years,0,210998,0.00,Albania2005,0.695,"8,158,548,717",2931,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27767,Uzbekistan,2010,female,35-54 years,101,3339076,3.02,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation X
27768,Uzbekistan,2010,male,5-14 years,48,2751752,1.74,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z
27769,Uzbekistan,2010,female,75+ years,5,322899,1.55,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27770,Uzbekistan,2010,female,55-74 years,16,1161422,1.38,Uzbekistan2010,0.655,"39,332,770,929",1533,Silent
27771,Uzbekistan,2010,female,5-14 years,30,2627344,1.14,Uzbekistan2010,0.655,"39,332,770,929",1533,Generation Z

In [11]:
# 2010 - 2014
#  males & FEMALES , SWITZERLAND

In [13]:
mask1=df.year.between(2010,2014)
mask2=df.sex=="male"
mask3=df.sex=="female"
mask4=df.country=="Switzerland"

In [14]:
male=df.loc[mask1 & mask2 & mask4 , ["country","sex","age","suicides_no"]]
male

           country   sex          age  suicides_no
24906  Switzerland  male    75+ years          114
24907  Switzerland  male  55-74 years          220
24908  Switzerland  male  35-54 years          267
24909  Switzerland  male  25-34 years           74
24911  Switzerland  male  15-24 years           47
24916  Switzerland  male   5-14 years            2
24918  Switzerland  male    75+ years          125
24919  Switzerland  male  55-74 years          221
24920  Switzerland  male  35-54 years          261
24921  Switzerland  male  25-34 years           81
24922  Switzerland  male  15-24 years           67
24928  Switzerland  male   5-14 years            2
24930  Switzerland  male    75+ years          129
24931  Switzerland  male  55-74 years          238
24932  Switzerland  male  35-54 years          251
24933  Switzerland  male  15-24 years           65
24934  Switzerland  male  25-34 years           66
24940  Switzerland  male   5-14 years            3
24942  Switzerland  male    75+ years          146
24943  Switzerland  male  55-74 years          253
24944  Switzerland  male  35-54 years          255
24945  Switzerland  male  25-34 years           78
24947  Switzerland  male  15-24 years           52
24952  Switzerland  male   5-14 years            2
24954  Switzerland  male    75+ years          144
24955  Switzerland  male  55-74 years          249
24956  Switzerland  male  35-54 years          245
24957  Switzerland  male  25-34 years           68
24959  Switzerland  male  15-24 years           48
24965  Switzerland  male   5-14 years            2

In [15]:
male.sum().suicides_no

3775

In [16]:
female=df.loc[mask1 & mask3 & mask4 , ["country","sex","age","suicides_no"]]
female

           country     sex          age  suicides_no
24910  Switzerland  female  55-74 years           96
24912  Switzerland  female    75+ years           36
24913  Switzerland  female  35-54 years          103
24914  Switzerland  female  25-34 years           32
24915  Switzerland  female  15-24 years           15
24917  Switzerland  female   5-14 years            0
24923  Switzerland  female    75+ years           44
24924  Switzerland  female  55-74 years           94
24925  Switzerland  female  35-54 years           98
24926  Switzerland  female  25-34 years           25
24927  Switzerland  female  15-24 years           15
24929  Switzerland  female   5-14 years            1
24935  Switzerland  female  55-74 years          102
24936  Switzerland  female    75+ years           41
24937  Switzerland  female  35-54 years          104
24938  Switzerland  female  25-34 years           29
24939  Switzerland  female  15-24 years           10
24941  Switzerland  female   5-14 years            0
24946  Switzerland  female  55-74 years          109
24948  Switzerland  female    75+ years           37
24949  Switzerland  female  35-54 years          100
24950  Switzerland  female  25-34 years           21
24951  Switzerland  female  15-24 years           17
24953  Switzerland  female   5-14 years            1
24958  Switzerland  female    75+ years           47
24960  Switzerland  female  55-74 years           88
24961  Switzerland  female  35-54 years           95
24962  Switzerland  female  25-34 years           30
24963  Switzerland  female  15-24 years           14
24964  Switzerland  female   5-14 years            2

In [17]:
female.sum().suicides_no

1406