In [1]:
import pandas as pd

In [2]:
name=["Harshad","Kunal","Mohit","sohan"]
surname=["Lande","Lande","Tomar","Sankla"]

In [3]:
First_name=pd.Series(name)
First_name

0    Harshad
1      Kunal
2      Mohit
3      sohan
dtype: object

In [4]:
Last_name=pd.Series(surname, name="Last")
Last_name

0     Lande
1     Lande
2     Tomar
3    Sankla
Name: Last, dtype: object

In [11]:
Full_name=pd.Series(surname,index=name,name="FULL_NAME")
Full_name

Harshad     Lande
Kunal       Lande
Mohit       Tomar
sohan      Sankla
Name: FULL_NAME, dtype: object

In [13]:
dic={
    
    "Pankaj" : "Bordiya" ,
    "Manoj" : "Bordiya" ,
    "Gouri" : "Tomar" 
    
}
Full_name2=pd.Series(dic,name="Full name")
Full_name2

Pankaj    Bordiya
Manoj     Bordiya
Gouri       Tomar
Name: Full name, dtype: object

In [14]:
movies_data=pd.read_csv("tmdb_5000_movies.csv", usecols=["runtime"])
type(movies_data)

pandas.core.frame.DataFrame

In [15]:
movies_data=pd.read_csv("tmdb_5000_movies.csv", usecols=["runtime"],squeeze=True)
type(movies_data)

pandas.core.series.Series