In [1]:
import pandas as pd

In [2]:
dic={
    
    1 :"One"  ,
    3 : "Three" ,
    2 : "Two" ,
    4 : "Four"

}

In [3]:
ser=pd.Series(dic,name="numbers")
ser

1      One
3    Three
2      Two
4     Four
Name: numbers, dtype: object

In [4]:
#  sort according to index

ser.sort_index()

1      One
2      Two
3    Three
4     Four
Name: numbers, dtype: object

In [5]:
ser.sort_index(ascending=False, inplace=True)
#  inplace changes in actual series
ser

4     Four
3    Three
2      Two
1      One
Name: numbers, dtype: object

In [6]:
ser

4     Four
3    Three
2      Two
1      One
Name: numbers, dtype: object

In [8]:
#  sort according to values

ser.sort_values()

4     Four
1      One
3    Three
2      Two
Name: numbers, dtype: object

In [10]:
ser.sort_values(ascending=False,inplace=True)
ser

2      Two
3    Three
1      One
4     Four
Name: numbers, dtype: object