In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Suicide.csv")
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
df.country

0           Albania
1           Albania
2           Albania
3           Albania
4           Albania
            ...
27815    Uzbekistan
27816    Uzbekistan
27817    Uzbekistan
27818    Uzbekistan
27819    Uzbekistan
Name: country, Length: 27820, dtype: object

In [4]:
df.country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [5]:
df.country=="Israel"

0        False
1        False
2        False
3        False
4        False
         ...
27815    False
27816    False
27817    False
27818    False
27819    False
Name: country, Length: 27820, dtype: bool

In [6]:
df[df.country=="Israel"]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12416,Israel,1985,male,75+ years,24,66600,36.04,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12417,Israel,1985,male,55-74 years,48,249100,19.27,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12418,Israel,1985,female,75+ years,10,75500,13.25,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
12419,Israel,1985,male,35-54 years,41,396400,10.34,Israel1985,0.768,"27,493,591,484",7325,Silent
12420,Israel,1985,female,55-74 years,28,290900,9.63,Israel1985,0.768,"27,493,591,484",7325,G.I. Generation
...,...,...,...,...,...,...,...,...,...,...,...,...
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [7]:
type(df.country=="Israel")

pandas.core.series.Series

In [9]:
(df.country=="Israel").dtype

dtype('bool')

In [11]:
df[(df.country=="Israel") & (df.year==2014)]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z

In [12]:
df[(df.country=="Israel") & ((df.year==2014) | (df.year==2015))]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
12764,Israel,2014,male,75+ years,32,164959,19.40,Israel2014,0.894,"308,416,982,140",41869,Silent
12765,Israel,2014,male,35-54 years,125,925543,13.51,Israel2014,0.894,"308,416,982,140",41869,Generation X
12766,Israel,2014,male,55-74 years,54,577076,9.36,Israel2014,0.894,"308,416,982,140",41869,Boomers
12767,Israel,2014,male,25-34 years,41,580208,7.07,Israel2014,0.894,"308,416,982,140",41869,Millenials
12768,Israel,2014,male,15-24 years,35,633544,5.52,Israel2014,0.894,"308,416,982,140",41869,Millenials
12769,Israel,2014,female,75+ years,11,236381,4.65,Israel2014,0.894,"308,416,982,140",41869,Silent
12770,Israel,2014,female,55-74 years,24,645102,3.72,Israel2014,0.894,"308,416,982,140",41869,Boomers
12771,Israel,2014,female,35-54 years,29,949566,3.05,Israel2014,0.894,"308,416,982,140",41869,Generation X
12772,Israel,2014,female,25-34 years,13,576407,2.26,Israel2014,0.894,"308,416,982,140",41869,Millenials
12773,Israel,2014,female,15-24 years,10,607031,1.65,Israel2014,0.894,"308,416,982,140",41869,Millenials
12774,Israel,2014,male,5-14 years,7,753317,0.93,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12775,Israel,2014,female,5-14 years,1,717118,0.14,Israel2014,0.894,"308,416,982,140",41869,Generation Z
12776,Israel,2015,male,75+ years,30,168826,17.77,Israel2015,NaN,"299,093,839,690",39793,Silent
12777,Israel,2015,male,55-74 years,65,595247,10.92,Israel2015,NaN,"299,093,839,690",39793,Boomers
12778,Israel,2015,male,35-54 years,92,944406,9.74,Israel2015,NaN,"299,093,839,690",39793,Generation X
12779,Israel,2015,male,25-34 years,45,586251,7.68,Israel2015,NaN,"299,093,839,690",39793,Millenials
12780,Israel,2015,female,75+ years,14,241083,5.81,Israel2015,NaN,"299,093,839,690",39793,Silent
12781,Israel,2015,male,15-24 years,35,644674,5.43,Israel2015,NaN,"299,093,839,690",39793,Millenials
12782,Israel,2015,female,55-74 years,17,664823,2.56,Israel2015,NaN,"299,093,839,690",39793,Boomers
12783,Israel,2015,female,25-34 years,13,581972,2.23,Israel2015,NaN,"299,093,839,690",39793,Millenials
12784,Israel,2015,female,35-54 years,20,967412,2.07,Israel2015,NaN,"299,093,839,690",39793,Generation X
12785,Israel,2015,female,15-24 years,8,617440,1.30,Israel2015,NaN,"299,093,839,690",39793,Millenials
12786,Israel,2015,male,5-14 years,2,770443,0.26,Israel2015,NaN,"299,093,839,690",39793,Generation Z
12787,Israel,2015,female,5-14 years,1,733603,0.14,Israel2015,NaN,"299,093,839,690",39793,Generation Z

In [14]:
df.loc[(df.country=="Israel") & ((df.year==2014) | (df.year==2015))  ,  ["country","sex","age","suicides_no"]]

      country     sex          age  suicides_no
12764  Israel    male    75+ years           32
12765  Israel    male  35-54 years          125
12766  Israel    male  55-74 years           54
12767  Israel    male  25-34 years           41
12768  Israel    male  15-24 years           35
12769  Israel  female    75+ years           11
12770  Israel  female  55-74 years           24
12771  Israel  female  35-54 years           29
12772  Israel  female  25-34 years           13
12773  Israel  female  15-24 years           10
12774  Israel    male   5-14 years            7
12775  Israel  female   5-14 years            1
12776  Israel    male    75+ years           30
12777  Israel    male  55-74 years           65
12778  Israel    male  35-54 years           92
12779  Israel    male  25-34 years           45
12780  Israel  female    75+ years           14
12781  Israel    male  15-24 years           35
12782  Israel  female  55-74 years           17
12783  Israel  female  25-34 years           13
12784  Israel  female  35-54 years           20
12785  Israel  female  15-24 years            8
12786  Israel    male   5-14 years            2
12787  Israel  female   5-14 years            1

In [15]:
f=df.loc[(df.country=="Israel") & ((df.year==2014) | (df.year==2015))  ,  ["country","sex","age","suicides_no"]]
f

      country     sex          age  suicides_no
12764  Israel    male    75+ years           32
12765  Israel    male  35-54 years          125
12766  Israel    male  55-74 years           54
12767  Israel    male  25-34 years           41
12768  Israel    male  15-24 years           35
12769  Israel  female    75+ years           11
12770  Israel  female  55-74 years           24
12771  Israel  female  35-54 years           29
12772  Israel  female  25-34 years           13
12773  Israel  female  15-24 years           10
12774  Israel    male   5-14 years            7
12775  Israel  female   5-14 years            1
12776  Israel    male    75+ years           30
12777  Israel    male  55-74 years           65
12778  Israel    male  35-54 years           92
12779  Israel    male  25-34 years           45
12780  Israel  female    75+ years           14
12781  Israel    male  15-24 years           35
12782  Israel  female  55-74 years           17
12783  Israel  female  25-34 years           13
12784  Israel  female  35-54 years           20
12785  Israel  female  15-24 years            8
12786  Israel    male   5-14 years            2
12787  Israel  female   5-14 years            1

In [18]:
f.sum().suicides_no

724